*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.boxed{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.SB{
    justify-content: space-between;
}

.AC{
    align-items: center;
}

.posRel{
    position: relative;
}

.JustCent{
    justify-content: center;
}

img{
    width: 100%;
    height: 100%;
}

button:hover{
    background-color: olivedrab;
    color: greenyellow
} 

/**********HEADER**********/
header{
    width: 100%;
    height: 60px;
    background-color: black;
}
.btnStart1, .btnStart2{
    width: 110px;
    height: 25px;
    background-color: #4a4a4a;
    color: white;
    padding: 0.4em;
    border-radius: 5px;
    border: none;
    margin-right: 0.5em;
    margin-top: 0.4em;
    cursor: pointer;
}
.btnStart2{
    width: 25px;
    height: 25px;
}

header > .UpperRgtMenu{
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

/**********MAIN**********/

.call{
    height: calc(100vh - 140px);
    background-color: black;
}

.griglie{
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: black;
    position: relative;
}

.card{
    width: calc(100% / 7 - 10px);
    height: calc(100% / 5 - 10px);
}
.user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    width: 98px;
    height: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.user-name:hover{
    background-color: darkgoldenrod;
    color: white;
}

/**********FOOTER**********/
footer{
    width: 100%;
    height: 80px;
}
.Controll{
    background-color: #222222;
}

.Controll-Icons{
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer i{
    margin-left: 20px;
    font-size: 23px;
    margin-bottom: 0.5em;
    padding-right: 0.5em;
}
.fa-chevron-up{
    font-size: 8px;
}
.user-icons{
    justify-content: space-between;
    align-items: center;
}
footer i {
    margin-bottom: 0.5em;
}
p{
    font-size: 12px;
    margin-left: 14px;
}
/* Barra centrale */

.mark{
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Chiusura Footer */

.btnEnd{
    background-color: #4a4a4a;
    border: none;
    border-radius: 10px;
    padding: 0.4em;
    width: 110px;
    height: 80px;
    color: red;
    align-items: center;
    justify-content: flex-end;
    transition-duration: 0.5;
    cursor: pointer;
}
